*.class

# Package Files #
*.war
*.ear
/GSyncJ/nbproject/private/
/GSyncJ/build/
/GSyncJ/dist/
/.project
/Web/nbproject/private/
/JavaFX/GSyncJ/nbproject/private/
/JavaFX/GSyncJ/build/
/JavaFX/GSyncJ/dist/